@font-face {
  font-family: "Heming";
  src: url("./fonts/HemingVariable.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Agnes";
  src: url("./fonts/Agnes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Henke";
  src: url("./fonts/Henke-DL3416.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:focus {
  outline: none !important;
}

/* MAIN */

body {
  background-color: #e2e6e689 !important;
}

/* components */

.flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main {
  width: 100vw;
  height: 98vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .main {
    padding: 0px;
    height: 98vh;
    flex-direction: column;
  }
}

.music-player {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

@media (max-width: 768px) {
  .music-player {
    width: 100%;
    height: auto;
    align-items: center;
    align-content: center;
  }
}

.music-player .buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media (max-width: 768px) {
  .music-player .buttons-container {
    width: 95px;
  }
}

.music-player .buttons-container .button {
  display: flex;
}

.music-player .text-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.scrolling-text {
  height: 100%;
  width: 200%;
  white-space: nowrap; /* Prevent text from wrapping */
  position: absolute;
  animation: scroll-text 10s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  mix-blend-mode: difference;
}

@keyframes scroll-text {
  0% {
    transform: translateX(150%); /* Start off-screen to the right */
  }
  100% {
    transform: translateX(-150%); /* End off-screen to the left */
  }
}

.player-progress-bar {
  border: solid black;
  width: 100%;
  height: 25px;
  position: relative;
  display: flex;
  align-items: center;
}

.progress-fill {
  height: 100%;
  width: 0%;
  background-color: black;
  transition: width 0.2s linear;
}

.progress-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }
}

/* experiments */

.experiment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  .experiment-container {
    flex-direction: column;
    width: 100%;
    /* max-height: 100vh; */
    max-width: 100vh;
    overflow: hidden;
  }

  .p5Canvas {
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
  }
}

/* the path */
.path-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.path-container .wrapper {
  cursor: crosshair;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.path-container .player {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .path-container .player {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }
}

.path-container .artworks {
  border: solid red;
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.path-container .artworks .img {
  border: solid yellow;
  flex-grow: 1;
}

.path-container .artworks .buttons {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
