#root {
  max-width: 95vw;
  max-height: 95vh;
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* components */

.flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main {
  width: 95vw;
  height: 95vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main .vertical-navigation {
  min-width: 20%;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .main-content {
  width: auto;
  height: 100%;
  width: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: scroll;
  overflow-x: hidden;
}

.main .main-content .image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

/* DISCOGRAPHY */
.release {
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image-container {
  height: 100%;
  padding: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid green;
}

.player-container {
  flex-grow: 1;
  height: 100%;
  border: solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.release .image-release {
  height: 75%;
}
