@font-face {
  font-family: "Heming";
  src: url("./fonts/HemingVariable.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Agnes";
  src: url("./fonts/Agnes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Henke";
  src: url("./fonts/Henke-DL3416.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#root {
  max-width: 95vw;
  max-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}

/* components */

.flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main {
  width: 95vw;
  height: 98vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (max-width: 700px) {
  .main {
    flex-direction: column;
  }
}

.main .vertical-navigation {
  min-width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.main .vertical-navigation * {
  cursor: pointer;
}

@media (max-width: 700px) {
  .main .vertical-navigation {
    height: 10%;
    width: 100%;
    flex-direction: row;
    min-width: 100%;
    padding: 0px;
  }
}

.title-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  .title-container {
    width: 40%;
    /* removes component outline on mobile click */
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.pages-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 700px) {
  .pages-buttons-container {
    flex-grow: 1;
    font-size: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 5px;
    /* removes component outline on mobile click */
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .pages-buttons-container > :nth-child(odd) {
    text-align: left; /* Align left for the first and third items */
  }

  .pages-buttons-container > :nth-child(even) {
    text-align: right; /* Align right for the second and fourth items */
  }
}

.main .main-content {
  width: auto;
  height: 99vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.main .main-content::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

/* Hide scrollbar for IE, Edge, and Firefox */
.main .main-content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.main .main-content .image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  display: block;
}

@media (max-width: 700px) {
  .main .main-content .image {
    object-fit: cover;
  }
}

/* DISCOGRAPHY */
.discography-main {
  display: flex;
  flex-direction: row;
}

.disc-img-container {
  min-width: 10%;
  width: 10%;
  height: 100%;
  overflow: hidden;
  margin-left: 5px;
}

.disc-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 25%;
  opacity: 0;
  transition: opacity 0.8s ease-in-out 0.1s; /* Transition for fade-in effect */
}

.disc-img.loaded {
  opacity: 1;
}

.disc-release-container {
  flex-grow: 1;
}

.release {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border: 0.5px solid;
  margin-bottom: 5px;
}

@media (max-width: 700px) {
  .release {
    height: auto;
    width: 95vw;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
  }
}

.release-info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.image-container {
  height: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 700) {
  .image-container {
    height: auto;
    width: 50%;
  }
}

.info-container-grid {
  flex-grow: 1;
  height: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-left: 40px;
  margin-top: 20px;
}

@media (max-width: 700px) {
  .info-container-grid {
    margin-left: 3px;
    margin-right: 3px;
  }
}

.info-container-grid .item-tracklist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .info-container-grid .item-tracklist {
    justify-content: space-between;
  }
}

.item-genre {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player-container {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 700px) {
  .player-container {
    margin-top: 5px;
    width: 100%;
    height: 500px;
  }
}

.button-container {
  width: 60px;
}

.release .image-release {
  max-width: 100%;
  max-width: 250px;
  max-height: 250px;
  height: auto;
  object-fit: c;
}

.release .image-release:hover {
  opacity: 0.5;
}

@media (max-width: 700px) {
  .release .image-release {
    max-width: 100%;
    height: auto;
  }
}
.release .image-release:hover {
  cursor: pointer;
}

/* LIVESETS */
.live-grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  overflow: hidden;
}

@media (max-width: 700px) {
  .live-grid {
    grid-template-columns: 1fr;
    overflow: auto;
  }
}

.grid-item {
  border: 0.5px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 700px) {
  .grid-item {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.grid-item .info {
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
}

/* VIsualArt */
.main-flex {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.box-tag {
  height: 100%;
  width: 10%;
  min-width: 10%;
  overflow: auto;
}

.box-tag::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

/* Hide scrollbar for IE, Edge, and Firefox */
.box-tag {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.photo-info-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.visual-info {
  width: 100%;
  height: 25%;
  text-align: justify;
  margin-bottom: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.visual-info-mobile {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: white;
  display: flex;
  margin: 0;
  padding: 0;
}

.visual-info-mobile .p5wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.visual-info-mobile .text {
  height: 100%;
  width: 100%;
  z-index: 3; /* Topmost layer */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
.big-photo-container-works {
  width: 100%;
  height: auto;
  flex-grow: 1;
  overflow: auto;
  display: flex;
}

.image-big {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  cursor: zoom-in;
  overflow: hidden;
  margin-top: auto;
}

.image-big-zoom-works {
  height: 200%;
  width: 200%;
}

/* ARCHIVE */

.archive-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 700px) {
  .archive-container {
    flex-direction: column;
    justify-content: space-between;
    justify-content: flex-start; /* Adjusts content alignment */
    position: relative;
  }

  .archive-container .button {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .archive-container .canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }
}

.box-gigs {
  height: 100%;
  width: 30%;
  text-align: left;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (max-width: 700px) {
  .box-gigs {
    width: 100%;
    height: auto;
  }
}

.box-gigs::-webkit-scrollbar {
  display: none;
}

.imgs-container {
  width: 50%;
  height: 100%;
  flex-grow: 1;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.image-up {
  min-height: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0.5px solid;
  margin-bottom: 5px;
}

@media (max-width: 700px) {
  .image-up {
    border: none;
  }
}

.image-up-video {
  min-height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px solid;
  margin-bottom: 5px;
}

@media (max-width: 700px) {
  .image-up-video {
    height: 100%;
  }
}

.image-up .img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  object-fit: contain;
}

.image-down {
  flex-grow: 1;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  object-fit: fill;
  border: 0.5px solid;
  position: relative;
}

.image-down .player {
  width: 70%;
  max-height: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1px;
}

.accordion-container {
  border: 0.5px solid;
  margin-bottom: 5px;
}

.accordion-summary {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* INFO */
.info-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.info-page::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

/* Hide scrollbar for IE, Edge, and Firefox */
.info-page {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.info-img {
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 0.5s ease-in-out 0.1s; /* Transition for fade-in effect */
}

.info-img.loaded {
  width: 100%;
  height: auto;
  opacity: 1; /* Fully visible once loaded */
}

.info-text {
  min-height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

@media (max-width: 700px) {
  .info-text {
    min-height: auto;
  }
}

.contacts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates a 2-column grid */
  gap: 1rem;
  width: 100%;
}

.contacts-container .item {
  display: flex;
  justify-content: center;
}

@media (max-width: 700px) {
  .contacts-container {
    font-size: 14px;
    text-wrap: nowrap;
  }
}

/* experiments */

.experiment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 700px) {
  .experiment-container {
    flex-direction: column;
    width: 100%;
    max-height: 100vh;
    max-width: 100vh;
    overflow: hidden;
  }

  .p5Canvas {
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
    padding: 10px;
  }
}

/* the path */
.path-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.path-container .wrapper {
  cursor: crosshair;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.path-container .player {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 700px) {
  .path-container .player {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }
}

.path-container .artworks {
  border: solid red;
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.path-container .artworks .img {
  border: solid yellow;
  flex-grow: 1;
}

.path-container .artworks .buttons {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
